.profile__page {
  height: 100vh;
  width: 100vw;
  background-image: image-url('IMG_0459.jpeg');
  background-size: cover;
  position: fixed;
  .profile__container {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    .my-image {
      height: 26%;
      width: 16%;
      border: 6px solid #fff;
      border-radius: 50%;
      background-image: image-url('IMG_1774.jpeg');
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 0;
      margin-left: 200px;
      margin-right: 70px;
      float: left;
    }
    .mypage__title {
      padding-bottom: 30px;
      width: 60%;
      margin: 0 auto;
      .profile_title{
        font-size: 50px;
        color: gray;
        text-shadow: 3px 3px 1px rgb(39, 38, 38);
        margin-bottom: 20px;
      }
    }
    .profile-btn {
      height: 50px;
      width: 250px;
      border-radius: 10px;
      background-color: green;
      color: black;
      font-weight: bold;
      text-align: center;
      line-height: 50px;
      opacity: 0.8;
      position: relative;
      transition: 1s;
      top: 680px;
      right: 80px;
      z-index: 1;
    }
    .profile-btn:hover {
      cursor: pointer;
      opacity: 0.8;
      color: blanchedalmond;
    }
    .southernmost {
      height: 30px;
      width: 400px;
      color: palevioletred;
      position: relative;
      font-family: "Nico Moji";
      top: 220px;
      right: 500px;
    }
  }
  .image-description {
    height: 50px;
    width: 50%;
    color: #fff;
    font-family: "Nico Moji";
    position: relative;
    top: 710px;
    margin-left: 200px;
    letter-spacing: 5px;
  }
  .return-home-btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(219, 138, 31);
    color: rgb(163, 56, 56);
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    opacity: 0.9;
    transition: 0.5s;
    margin-top: 650px;
    margin-left: 1150px;
  }
  .return-home-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    color: blanchedalmond;
  }
  .job__box {
    height: 40%;
    width: 30%;
    position: relative;
    bottom: 500px;
    margin-left: 450px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    display: none;
  }
  .toBe-engineer-btn {
    height: 80px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(89, 191, 204);
    opacity: 0.7;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: 1s;
    line-height: 80px;
    margin-top: 0px;
    margin-left: 750px;
    display: none;
  }
  .toBe-engineer-btn:hover {
    opacity: 1;
    background-color: rgb(22, 76, 83);
    color: #fff;
    border: 3px solid grey;
    font-size: large;
  }
  .add-image {
    height: 500px;
    width: 400px;
    background-image: image-url('image3.jpeg');
    background-position: right top;
    background-size: cover;
    border: 1px solid #fff;
    margin-top: 0px;
    margin-left: 200px;
    display: none;
  }
  .dream_description {
    height: 65%;
    width: 30%;
    margin-top: 150px;
    margin-left: 700px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    line-height: 40px;
    overflow: scroll;
    padding-right: 20px;
    display: none;
  }
}