.home-wrapper__container
  .push-btn push
.before__home-wrapper__container
  %h1.first_typing#typing
  %h1.second_typing#typing
  .home-wrapper__link-box
    #circle
    %i.fab.fa-gitkraken.fa-3x
      %h1.can-click Can you click?
    %ul.link-box__left
      %li.link-box__profile
        = link_to("Profile", profile_index_path, {class: "profile-font"})
      %li.link-box__skill
        = link_to("Skill", skill_index_path, {class: "skill-font"})
    %ul.link-box__right
      %li.link-box__portfolio
        = link_to("Portfolio",portfolio_index_path, {class: "portfolio-font"})
      %li.link-box__github
        = link_to("GitHub","https://github.com/ki-ra-co?tab=repositories", {class: "github-font"})
  %h1.description


:javascript
  $(function() {
    $('.push-btn').on('click',function(){
      $('.home-wrapper__container').css('display','none');
      $('.before__home-wrapper__container').css('display','block');
      const first_typing = (element, sentence) => {
        [...sentence].forEach((character, index) => {
          setTimeout(() => {
            document.querySelector(element).textContent += character;
         }, 200 * +index);
        });
      }
      const second_typing = (element, sentence) => {
        [...sentence].forEach((character, index) => {
          setTimeout(() => {
            document.querySelector(element).textContent += character;
         }, 300 * +index);
        });
      }
      first_typing('.first_typing', 'Hello! I am Koutaku Kihara');
      second_typing('.second_typing', 'Thanks for coming');
    });
    $('.link-box__profile').hover(function(){
      $(this).parents('.before__home-wrapper__container').find('.description').css({
        'display':'block',
      }).text("私の経歴を見ますか？");
    }, function() {
        $(this).parents('.before__home-wrapper__container').find('.description').css('display', 'none');
    });
    $('.link-box__skill').hover(function(){
      $(this).parents('.before__home-wrapper__container').find('.description').css({
        'display':'block',
      }).text("私のスキルセットです");
    }, function() {
        $(this).parents('.before__home-wrapper__container').find('.description').css('display', 'none');
    });
    $('.link-box__portfolio').hover(function(){
      $(this).parents('.before__home-wrapper__container').find('.description').css({
        'display':'block',
      }).text("私が作ったアプリを見ますか？");
    }, function() {
        $(this).parents('.before__home-wrapper__container').find('.description').css('display', 'none');
    });
    $('.link-box__github').hover(function(){
      $(this).parents('.before__home-wrapper__container').find('.description').css({
        'display':'block',
      }).text("お粗末ですが私のGitHubです");
    }, function() {
        $(this).parents('.before__home-wrapper__container').find('.description').css('display', 'none');
    });
    $('.fab.fa-gitkraken').on('click',function(){
      $('.can-click').text("GYAAAA!!!").css('color','red');
      setTimeout(function(){
        $('.description').css({
          'display':'block',
        }).text("撃破！");
      },2000);
      setTimeout(function(){
        $('.description').css({
          'display':'none',
        }).text("撃破！");
      },4000);
      setTimeout(function(){
        $('.fab.fa-gitkraken').css('display','none');
      },2000);
      setTimeout(function(){
        $('.fab.fa-gitkraken').css('display','block');
        $('.can-click').text("Don't click sorry...").css('color','rgb(58, 116, 202)');
      },4000);
    });
  });