.home-wrapper__container
  .push-btn push
.before__home-wrapper__container
  %h1.first_typing#typing
  %h1.second_typing#typing
  %h1.description
  .home-wrapper__link-box
    #circle
    %i.fab.fa-gitkraken.fa-3x
    %ul.link-box__left
      %li.link-box__profile
        = link_to("Profile","https://ja-jp.facebook.com/", {class: "profile-font"})
      %li.link-box__skill
        = link_to("Skill","https://ja-jp.facebook.com/", {class: "skill-font"})
    %ul.link-box__right
      %li.link-box__portfolio
        = link_to("Portfolio","https://ja-jp.facebook.com/", {class: "portfolio-font"})
      %li.link-box__qiita
        = link_to("Qiita","https://twitter.com/login?lang=ja", {class: "qiita-font"})

:javascript
  $(function() {
    $('.push-btn').on('click',function(){
      $('.home-wrapper__container').css('display','none');
      $('.before__home-wrapper__container').css('display','block');
      const first_typing = (element, sentence) => {
        [...sentence].forEach((character, index) => {
          setTimeout(() => {
            document.querySelector(element).textContent += character;
         }, 200 * +index);
        });
      }
      const second_typing = (element, sentence) => {
        [...sentence].forEach((character, index) => {
          setTimeout(() => {
            document.querySelector(element).textContent += character;
         }, 300 * +index);
        });
      }
      first_typing('.first_typing', 'Hello! I am Koutaku Kihara');
      second_typing('.second_typing', 'Thanks for coming');
    });
    $('.link-box__profile').hover(function(){
      $(this).parents('.before__home-wrapper__container').find('.description').css({
        'display':'block',
        'text':'aaaa'
      }).text("私の経歴を見ますか？");
    }, function() {
        $(this).parents('.before__home-wrapper__container').find('.description').css('display', 'none');
    });
    $('.fab.fa-gitkraken').on('click',function(){
      $('.fab.fa-gitkraken').css('display','none');
    })
  });