.home-wrapper__container
  .push-btn push
.before__home-wrapper__container
  .home-wrapper__link-box
    %ul.link-box__left
      %li.link-box__left_login
        %h1 Profile
      %li.link-box__left__create
        %h1 Skill
    %ul.link-box__right
      %li.link-box__right_facebook
        %h1　Portfolio
        = link_to("facebook","https://ja-jp.facebook.com/", {class: "facebook-font"})
      %li.link-box__right_twitter
        %h1 Qiita
        = link_to("twitter","https://twitter.com/login?lang=ja", {class: "twitter-font"})

:javascript
  $(function() {
    $('.push-btn').on('click',function(){
      $('.home-wrapper__container').css('display','none');
      $('.before__home-wrapper__container').css('display','block');
    })
  });