@mixin header-title-font {
  font-size: 70px;
  text-align: center;
  letter-spacing: 50px;
  line-height: 120px;
  font-family: 'Alfa Slab One', cursive;
}
@mixin app-boxes {
  height: 50%;
  width: 50%;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}
@mixin app-btn {
  height: 70px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  line-height: 70px;
  margin: 0 auto;
  margin-top: 30px;
}

.portfolio__pages {
  .first__page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(253, 230, 186);
    .first__page__header {
      @include header-title-font;
      height: 15%;
      width: 100%;
      background-color: rgb(226, 100, 15);
      color: yellow;
      text-shadow: 10px 10px 20px black;
      border-bottom: 1px solid #fff;
      
    }
    .app-box-right {
      height: 50%;
      width: 30%;
      float: left;
      margin-top: 50px;
      margin-left: 150px;
      .app-discription {
        padding-top: 30px;
      }
      .app-skil {
        padding-top: 30px;
      }
      .app-other {
        padding-top: 30px;
      }
    }
    .app-box-left {
      @include app-boxes;
      .image-box {
        height: 100%;
        width: 100%;
        background-image: image-url("yarender.jpeg");
        background-size: cover;
      }
      .yarender-btn {
        @include app-btn;
        background-color: red;
        color: #fff;
        &:hover {
          font-weight: bold;
          background-color: rgb(172, 84, 84);
        }
      }
    }
  }
  .second__page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(186, 210, 211);
    .second__page__header {
      @include header-title-font;
      height: 15%;
      width: 100%;
      background-color: rgb(89, 233, 221);
      color: blanchedalmond;
      text-shadow: 10px 10px 20px black;
    }
    .app-box-right {
      height: 50%;
      width: 30%;
      color: rgb(86, 31, 126);
      float: left;
      margin-top: 50px;
      margin-left: 150px;
      .app-discription {
        padding-top: 30px;
      }
      .app-skil {
        padding-top: 30px;
      }
      .app-other {
        padding-top: 30px;
      }
    }
    .app-box-left {
      @include app-boxes;
      .image-box {
        height: 100%;
        width: 100%;
        background-image: image-url("pictweet.jpeg");
        background-size: contain;
      }
      .pictweet-btn {
        @include app-btn;
        background-color: royalblue;
        color: #fff;
        &:hover {
          font-weight: bold;
          background-color: rgb(111, 138, 221);
        }
      }
    }
  }

  .third__page {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    .third__page__header {
      @include header-title-font;
      height: 15%;
      width: 100%;
      background-color: #fff;
    }
    .app-box-right {
      height: 50%;
      width: 30%;
      color: #fff;
      float: left;
      margin-top: 50px;
      margin-left: 150px;
      .app-discription {
        padding-top: 30px;
      }
      .app-skil {
        padding-top: 30px;
      }
      .app-other {
        padding-top: 30px;
      }
    }
    .app-box-left {
      @include app-boxes;
      .image-box {
        height: 100%;
        width: 100%;
        background-image: image-url("board.jpeg");
        background-size: cover;
      }
      .board-btn {
        @include app-btn;
        background-color: palevioletred;
        color: #fff;
        &:hover {
          font-weight: bold;
          background-color: rgb(172, 84, 84);
        }
      }
    }
  }

  .fourth__page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 192, 241);
    .fourth__page__header {
      @include header-title-font;
      height: 15%;
      width: 100%;
      background-color: rgb(189, 12, 159);
      color: rgb(144, 228, 193);
      text-shadow: 5px 5px 5px black;
    }
    .app-box-right {
      height: 50%;
      width: 30%;
      color: rgb(206, 39, 39);
      float: left;
      margin-top: 50px;
      margin-left: 150px;
      .app-discription {
        padding-top: 30px;
      }
      .app-skil {
        padding-top: 30px;
      }
      .app-other {
        padding-top: 30px;
      }
    }
    .app-box-left {
      @include app-boxes;
      .image-box {
        height: 100%;
        width: 100%;
        background-image: image-url("hurima.jpeg");
        background-size: cover;
      }
      .furima-btn {
        @include app-btn;
        background-color: green;
        color: #fff;
        &:hover {
          font-weight: bold;
          background-color: rgb(83, 136, 83);
        }
      }
    }
  }
}