.first__page
  .first__page__header yarender
  %ul.app-box-right
    %li.app-discription
      アプリの説明:
      %br/
      %br/
      ToDoアプリです。
      %br/
      Trelloみたいなレイアウトを目指して
      %br/
      見易いポップな仕上がりにしてみました。
    %li.app-skil
      使用したスキル:
      %br/
      ruby,html,css,RubyonRails,git
      %br/
      EC2,Nginx,Capistrano
    %li.app-other
      備考:
      %br/
      今後は、wabpackによってVue.jsを導入して
      %br/
      ドラッグ＆ドロップ機能を付けること、
      %br/
      カレンダーページから,その日のToDo画面に遷移、
      %br/
      その日のリスト名をカレンダーに表示させるように
      %br/
      仕上げていく予定です。
  %ul.app-box-left
    %li.image-box
    %li.yarender-btn アプリ起動



:javascript
  $(function() {

    $(".yarender-btn").click(function() {
      window.location.href = 'http://18.176.26.126';
    });
  });