.fourth__page
  .fourth__page__header furima
  %ul.app-box-right
    %li.app-discription
      アプリの説明:
      %br/
      %br/
      駆け出し仲間とアジャイルチーム開発で作った
      %br/
      フリマアプリです。
      %br/
      チーム開発の楽しさと難しさ、チーム開発でのgitの使い方などを知ることが出来ました。
      %br/
      %br/
      担当箇所
      %br/
      ⇩⇩⇩
      %br/
      ●　DB設計
      %br/
      ・本アプリケーションのシステムに必要なエンティティの
      %br/
      洗い出し及び定義
      %br/
      ・dependemtオプション等を利用した各テーブル同士の
      %br/
      アソシエーション定義
      %br/
      ・ER図及びREADMEの作成
      %br/
      ・各モデルやマイグレーションファイルの作成
      %br/
      ・enum型を利用した商品状態や出品状態の定義
      %br/
      ●　商品一覧表示（サーバーサイド、マークアップ）
      %br/
      ●　商品購入確認ページ（サーバーサイド、マークアップ）
      %br/
      ●　商品削除機能（サーバーサイド）
      %br/
      ●　マイページ（サイドバー部分）
      %br/
      %br/
      ★　工夫した点
      %br/
      ・チーム開発であるため、各人の進捗状況を共有しながら開発を行えるように、定期的にミーティングを行い、GitKrakenの導入やToreroを活用しました。
      %br/
      ・チームの仲間が苦戦している場合は、自身の担当箇所の進捗状況と見合わせながらヘルプに入りました。
      %br/
      ・チーム開発をよりスムーズに行える様に、仲間同士でのコミュニケーションに重きを置きました。
      %br/
      ・自身が担当した箇所には責任を持ち、技術習得のために出来る限り他人に頼らない自力解決を目指しました。
      %br/
      ・どうしても分からずチーム開発に支障を来たす虞のある場合は、見切りをつけて仲間に協力を求めるようにしました。
      %br/
      ・自身の進捗状況やブランチの動きは、スクラムリーダーに逐一報告して把握して貰える様に努めました。
      %br/
      ★　苦労した点
      %br/
      ① 仲間やメンターに協力を求める際、どういう状況であるか説明することに苦労しました。
      %br/
      相手に自身の状況や分からない部分を説明するときは、分からないなりにもまず自分が記述したコードを全て把握して、
      %br/
      一行一行説明出来るように調べた上で聞くことが大切であると学びました。
      %br/
      自身の頭の中で現在の状況を整理して調べていくことで、相手に質問する前に自己解決出来ることが大幅に増えました。
      %br/
      聞き手の立場になって、簡潔にわかり易く説明出来る力を身に付けることが出来ました。
      %br/
      ②　データベース設計
      %br/
      データベース設計を担当させて貰い、必要なテーブルの洗い出しや、各テーブル同士の関係性を定義することに非常に苦労しました。
      %br/
      多階層カテゴリー機能に対するデータベース設計も、設計方法が分からずに苦労しましたが、
      %br/
      調べていく中でancestryというgemを利用すれば、簡易的に機能を実装出来ることを知り、
      %br/
      カテゴリー機能を担当する仲間の負担を増やさず進めることが出来ました。
      %br/
      各項目を選択しない状態で出品することが出来ない様にバリデーションを考えたり、
      %br/
      決められた入力文字のみを受け付けらる様に正規表現を用いたり、一つのテーブルが冗長にならない様に住所テーブルを設けて不要なカラムを選別する等、
      %br/
      アプリケーション開発においてデータベース設計がどれほど重要なものであるかを身をもって体験することが出来ました。
      %br/
      実装したい機能の行方について入念に考慮することにより、アプリケーション作成に必要な構想力を高めることが出来ました。













    %li.app-skil
      使用したスキル:
      %br/
      ruby,html,css,javascript,RubyonRails
      %br/
      git,AWS(EC2,S3),Nginx,Capistrano
    %li.app-other
      備考:
      %br/
      %br/
      <テストアカウント>
      %br/
      メールアドレス: w@w.com
      %br/
      パスワード: aaaaaaa

  %ul.app-box-left
    %li.image-box
    %li.furima-btn アプリ起動



:javascript
  $(function() {

    $(".furima-btn").click(function() {
      window.location.href = 'http://52.198.162.19/';
    });
  });