.second__page
  .second__page__header PickTweet
  %ul.app-box-right
    %li.app-discription
      アプリの説明:
      %br/
      %br/
      Tweetアプリです。
      %br/
      好きな写真とコメントを投稿出来ます。
      %br/
      マイページへ遷移して、
      %br/
      自分だけの投稿履歴を閲覧することも出来ます。
      %br/
      コメント文を対象にした検索機能も付けてみました。
      %br/
    %li.app-skil
      使用したスキル:
      %br/
      バックエンド
      %br/
      Ruby
      %br/
      フロントエンド
      %br/
      HTML,CSS,Javascript(Jquery)
      %br/
      フレームワーク
      %br/
      RubyonRails(テストフレームワーク:Rspec)
      %br/
      インフラ構築
      %br/
      AWS(EC2,S3,IAM,MFA),Nginx
      %br/
      CD
      %br/
      capistrono
      %br/
      その他
      %br/
      Git,Trello,Slack
    %li.app-other
      <テストアカウント>
      %br/
      メールアドレス: kk@kk.com
      %br/
      パスワード: kkkkkkk
  %ul.app-box-left
    %li.image-box
    %li.pictweet-btn アプリ起動



:javascript
  $(function() {

    $(".pictweet-btn").click(function() {
      window.location.href = 'http://18.180.161.233/';
    });
  });