.third__page
  .third__page__header Our memories
  %ul.app-box-right
    %li.app-discription
      アプリの説明:
      %br/
      %br/
      ユーザーが日記の様に思い出を写真付きで投稿できます。
      %br/
    %li.app-skil
      使用したスキル:
      %br/
      バックエンド
      %br/
      PHP
      %br/
      フロントエンド
      %br/
      HTML,CSS,Javascript
      %br/
      フレームワーク
      %br/
      Laravel
      %br/
      インフラ構築
      %br/
      AWS(EC2,RDS,Route53,IAM,MFA,ELB,Cloud9)
      %br/
      Nginx
      %br/
      CD
      %br/
      Capistrano
      %br/
      その他
      %br/
      Git,Trello,Slack
    %li.app-other
      <テストアカウント>
      %br/
      メールアドレス: kk@kk.com
      %br/
      パスワード: kkkkkkkk
  %ul.app-box-left
    %li.image-box
    %li.board-btn アプリ起動



:javascript
  $(function() {

    $(".board-btn").click(function() {
      window.location.href = 'http://52.198.144.70/';
    });
  });